*{
    margin: 0;
    padding: 0;
    height: 150px;
}
.banner{
    border: 1px solid black;
}
.header{
    height: 90px;
    width: 100%;
    background-color: #1eff29;
    text-align: center;
    line-height: 90px;
}
.slogan{
    text-align: center;
    padding: 20px;
}