*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #f4f6f8;
    font-family: cursive;
    margin: auto;
}
.box{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 16px;
    width: 300px;
    margin-left: 10px;

}
.heading{
    background-color: #3bffef;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.tag{
    border-radius: 16px;
    background-color: red;
    width: 47px;
    text-align: center;
    transform: translate(250px);
}
span{
    color: #16d623;
}
.main{
    margin-top: 15px;
}
.button{
    border-radius: 30px;
    background-color: #00d9ff;
    color: black;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 40px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: larger;
}