body{
    background-color: #f1f4f9;
    margin-left: 10px;
}
.back{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    border-radius: 16px ;
}
.tag{
    border: 1px solid transparent;
    background-color: #ffe2b3;
    color: #b86c00;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    position: absolute;
    top:0;
    right: 0;

}
.title{
    font-weight: bold;
    margin-top: 50px;

}
.back1{
    margin-left: 10px;
    position: relative;
}
span{
    color: black;
    font-weight:600;
}
.task{
    background-color: #eeeeee;
    width: 300px;
    border-radius: 30px;
}
.task-bar{
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #1eff29;
    width: 250px;
    height: 15px;
}